.App {
  text-align: center;
}

.App-logo {
  height: 100px;
}

.App-header {
  background-color: white;
  height: 150px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.result-box {
  border: 1px solid black;
  border-radius: 10px;
  width: 30%;
  margin: auto;
  height: 1.5em;
  line-height: 1.5em;
}

.hidden {
  visibility: hidden;
}

/* override toggle styles */
.react-toggle {
  vertical-align: bottom;  
}
.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #3072ED;
}

.react-toggle--checked .react-toggle-track {
  background-color: #4F8FF3;
}

.react-toggle-thumb {
  border: 1px solid #4F8FF3;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #4F8FF3;
}

table {
    margin: auto;
}

hr {
  width: 50%;
}

form {
  padding-right: 10px;
}

div {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.text {
  width: 75%;
  display: table;
  margin: auto;
}
